.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    margin-bottom: 8px;
    padding: 6px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

.selected {
    background-color: rgba(11, 97, 255, 0.2);
    border: 1px dotted rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.iconImage img {
    width: 76px;
    height: 76px;
    pointer-events: none;
}

.selected .iconImage {
    filter: brightness(0.7)
}

.label {
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 1.4;
    padding: 0 2px;
    text-shadow: 1px 1px 1px #000000;
    word-wrap: break-word;
}

.selected .label {
    background-color: #0B61FF;
    text-shadow: none;
}

.explorer .label {
    color: #000;
    text-shadow: none;
    font-size: 11px;
}

.explorer .iconImage img {
    width: 32px;
    height: 32px;
}

.explorer {
    width: 100px;
}

.explorer.selected {
    background-color: rgba(49, 106, 197, 0.1);
    border: 1px solid rgba(49, 106, 197, 0.3);
}

.explorer.selected .label {
    background-color: #316ac5;
    color: white;
}