:root {
  --xp-blue-dark: #0054E3;
  --xp-blue-light: #3A6EA5;
  --xp-background: #ECE9D8;
  --xp-taskbar-bg: #245DDA;
  --xp-start-btn: #3E9C4E;
  --xp-text-color: #000000;

  --xp-font: "Tahoma", "MS UI Gothic", "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  font-family: var(--xp-font);
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: 50%;
  color: var(--xp-text-color);
}