.container {
    background-color: #fff;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.iconGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-content: flex-start;
}